# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

cities_df=pd.read_csv("../output_data/citiesApi.csv")
cities_df.head()

,index,city,Lat,Lon,max_temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,34,Diego de Almagro,-26.3667,-70.0500,82.83,8.0,0.0,9.26,CL,1.627842e+09
1,7,Ubari,26.5921,12.7805,95.99,8.0,0.0,8.08,LY,1.627842e+09
2,15,Gazli,40.1333,63.4500,89.89,9.0,0.0,14.50,UZ,1.627842e+09
3,453,Tabas,33.5959,56.9244,91.60,9.0,12.0,10.02,IR,1.627842e+09
4,438,Sabha,27.0377,14.4283,95.97,9.0,0.0,6.04,LY,1.627842e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = cities_df[["Lat", "Lon"]]
humidity = cities_df["Humidity"].astype(float)

In [4]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
newcity_df=cities_df.loc[(cities_df["max_temp"] > 70 )& (cities_df["max_temp"]<80) & (cities_df["Cloudiness"]==0) & (cities_df["Wind Speed"]<10)]

#clean_city_data = weather_df.sort_values("Humidity").reset_index(drop=False.head()
len(newcity_df)

8

In [6]:
newcity_df.dropna()
newcity_df

,index,city,Lat,Lon,max_temp,Humidity,Cloudiness,Wind Speed,Country,Date
40,221,Mirassol,-20.8192,-49.5211,78.48,24.0,0.0,0.00,BR,1.627842e+09
69,141,San Lorenzo,-25.3333,-57.5333,72.59,35.0,0.0,7.00,PY,1.627842e+09
105,484,Arrondissement de Bastia,42.6667,9.3333,79.93,45.0,0.0,8.99,FR,1.627842e+09
109,514,Arrondissement de Reims,49.1667,4.0833,71.38,46.0,0.0,5.75,FR,1.627842e+09
329,167,Bafra,41.5678,35.9069,74.98,77.0,0.0,3.04,TR,1.627842e+09
335,318,Ambilobe,-13.2000,49.0500,70.84,78.0,0.0,4.00,MG,1.627842e+09
348,480,Asău,46.4333,26.4000,76.39,79.0,0.0,2.77,RO,1.627842e+09
493,429,Mizhou,35.9947,119.3975,71.73,92.0,0.0,2.71,CN,1.627842e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df=newcity_df
hotel_df=hotel_df.sample(n=8)
hotel_df

,index,city,Lat,Lon,max_temp,Humidity,Cloudiness,Wind Speed,Country,Date
335,318,Ambilobe,-13.2000,49.0500,70.84,78.0,0.0,4.00,MG,1.627842e+09
109,514,Arrondissement de Reims,49.1667,4.0833,71.38,46.0,0.0,5.75,FR,1.627842e+09
40,221,Mirassol,-20.8192,-49.5211,78.48,24.0,0.0,0.00,BR,1.627842e+09
493,429,Mizhou,35.9947,119.3975,71.73,92.0,0.0,2.71,CN,1.627842e+09
105,484,Arrondissement de Bastia,42.6667,9.3333,79.93,45.0,0.0,8.99,FR,1.627842e+09
329,167,Bafra,41.5678,35.9069,74.98,77.0,0.0,3.04,TR,1.627842e+09
69,141,San Lorenzo,-25.3333,-57.5333,72.59,35.0,0.0,7.00,PY,1.627842e+09
348,480,Asău,46.4333,26.4000,76.39,79.0,0.0,2.77,RO,1.627842e+09

In [8]:
hotel_df["Hotel Name"]=" "
hotel_df

,index,city,Lat,Lon,max_temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
335,318,Ambilobe,-13.2000,49.0500,70.84,78.0,0.0,4.00,MG,1.627842e+09,
109,514,Arrondissement de Reims,49.1667,4.0833,71.38,46.0,0.0,5.75,FR,1.627842e+09,
40,221,Mirassol,-20.8192,-49.5211,78.48,24.0,0.0,0.00,BR,1.627842e+09,
493,429,Mizhou,35.9947,119.3975,71.73,92.0,0.0,2.71,CN,1.627842e+09,
105,484,Arrondissement de Bastia,42.6667,9.3333,79.93,45.0,0.0,8.99,FR,1.627842e+09,
329,167,Bafra,41.5678,35.9069,74.98,77.0,0.0,3.04,TR,1.627842e+09,
69,141,San Lorenzo,-25.3333,-57.5333,72.59,35.0,0.0,7.00,PY,1.627842e+09,
348,480,Asău,46.4333,26.4000,76.39,79.0,0.0,2.77,RO,1.627842e+09,

In [9]:
params = {
    "radius": 5000,
    "types": "lodging",

    "key": g_key
}
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lon"]
    print(lat,lng)
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
 
    response = requests.get(base_url, params=params)
    name_address = response.json()
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
       # hotel_df.loc[index, "Hotel Address"] = name_address["results"][0]["vicinity"]
       # hotel_df.loc[index, "Hotel Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

-13.2 49.05
49.1667 4.0833
-20.8192 -49.5211
35.9947 119.3975
42.6667 9.3333
41.5678 35.9069
-25.3333 -57.5333
46.4333 26.4

In [10]:
hotel_df

,index,city,Lat,Lon,max_temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
335,318,Ambilobe,-13.2000,49.0500,70.84,78.0,0.0,4.00,MG,1.627842e+09,Hôtel & Restaurant DIANA Ambilobe
109,514,Arrondissement de Reims,49.1667,4.0833,71.38,46.0,0.0,5.75,FR,1.627842e+09,Château de Rilly
40,221,Mirassol,-20.8192,-49.5211,78.48,24.0,0.0,0.00,BR,1.627842e+09,Condomínio Parque da Nascente
493,429,Mizhou,35.9947,119.3975,71.73,92.0,0.0,2.71,CN,1.627842e+09,Fanrong Hotel
105,484,Arrondissement de Bastia,42.6667,9.3333,79.93,45.0,0.0,8.99,FR,1.627842e+09,Hotel Santa Maria
329,167,Bafra,41.5678,35.9069,74.98,77.0,0.0,3.04,TR,1.627842e+09,Sevgi Otel
69,141,San Lorenzo,-25.3333,-57.5333,72.59,35.0,0.0,7.00,PY,1.627842e+09,Hotel del Sur
348,480,Asău,46.4333,26.4000,76.39,79.0,0.0,2.77,RO,1.627842e+09,Casa Mika Ciobanus

In [31]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>city</dt><dd>{city}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure

In [38]:
markers = gmaps.marker_layer(locations,hotel_info)

fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))